version: "3.8"

services:
    db:
        image: postgres:12.2-alpine
        container_name: "neverpay-api-db"
        ports:
            - "5432:5432"
        networks:
            - fullstack
        volumes:
            - database_postgres:/var/lib/postgresql/data
        env_file:
            - .env
    api:
        build: .
        container_name: "neverpay-api"
        ports:
            - "8081:8080"
        depends_on:
            - db
        networks:
            - fullstack
        env_file:
            - .env

volumes:
    database_postgres:

networks:
    fullstack:
        driver: bridge