version: "3.8"

services:
    db:
        image: postgres:12.2-alpine
        container_name: "neverpay-bill-service-db"
        ports:
            - "5432:5432"
        networks:
            - fullstack
        volumes:
            - database_postgres:/var/lib/postgresql/data
        environment: 
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
    api:
        build: .
        container_name: "neverpay-bill-service"
        ports:
            - "8081:8080"
        depends_on:
            - db
        networks:
            - fullstack
        environment: 
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PORT: ${POSTGRES_PORT}
            POSTGRES_HOST: ${POSTGRES_HOST}
            SSL_MODE: ${SSL_MODE}

volumes:
    database_postgres:

networks:
    fullstack:
        driver: bridge